{% extends 'beryl.html' %}
{% load static %}

{% block title %} Beryl Cart Item {% endblock title %}

{% block frame %}
    <section id="shoppingCart"><!--CSS-- Cart Container -->
        <section id="cartPart-1"><!--CSS-- Cart Container 1 -->
            {% if Cartexist %}
                {% for item in Cart %}
                    <div id="cartItem"><!--CSS-- Cart Item Container -->
                        <div><!--CSS-- Cart Item Detail Container-->
                            <figure id="itemImg"><!--CSS-- Cart Item figure-->
                                <img src="{{item.0.picture.url}}"><!--CSS-- Cart Item image-->
                            </figure>
                            <p id="itemPrice">{{item.0.price}}.00NGN</p><!--CSS-- Cart Item price-->
                            <p id="itemPriceToSell">{{item.0.price_to_sell}}.00NGN</p><!--CSS-- Cart Item price-->
                        </div>

                        <div><!--CSS-- Cart Item Edit-->
                            <p id="itemDescription">{{item.0.description}}</p><!--CSS-- Cart Item description-->
                            <p id="itemNotice"><!--CSS-- Cart Item notice-->
                                <img src="{% static 'notice.png' %}">
                                {{item.0.notice}}
                            </p>
                            <div id="quantityContainer"><!--CSS-- Cart Item Quantity Container-->
                                <a id="quantity" onclick="DecreaseQuantity('{{item.0.product_code}}')"><!--CSS-- Cart Item Quantity Increase-->
                                    <img src="{% static 'decrease.png' %}"><!--CSS-- Cart Item Quantity Regulator Icon-->
                                </a>
                                <p id="quantityNumber" class="{{item.0.product_code}}">{{item.1}}</p><!--CSS-- Cart Item Quantity-->
                                <a id="quantity" onclick="IncreaseQuantity('{{item.0.product_code}}')"><!--CSS-- Cart Item Quantity Decrease-->
                                    <img src="{% static 'increase.png' %}"><!--CSS-- Cart Item Quantity Regulator Icon-->
                                </a>
                            </div>
                            <div id="removeContainer"><!--CSS-- Cart Item Remove Container-->
                                <img src="{% static 'remove.png' %}"><!--CSS-- Cart Item Remove Icon-->
                                <a onclick="RemoveCart('{{item.0.product_code}}')">REMOVE</a><!--CSS-- Cart Item Remove Anchor-->
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div id="emptyCart">
                    <figure>
                        <img src="{% static 'emptycart.png' %}">
                    </figure>
                    <p>Your cart is empty!</p>
                    <p>Browse our categories and discover our best deals!</p>
                    <a href="/">START SHOPPING</a>
                </div>
            {% endif %}
        </section>

        <section id="cartPart-2"><!--CSS-- Cart Container 2 -->
            {% if Cartexist %}
            <p id="checkoutText"><!--CSS-- Checkout statement -->
                checkout to proceed to make payment 
            </p>
            <div id="checkout"><!--CSS-- Checkout Container -->
                {% if user.is_authenticated %}
                <img src="{% static 'checkout.png' %}"><!--CSS-- Checkout Icon -->
                <a id="checkoutPrice" onclick="checkout()">CHECKOUT</a><!--CSS-- Checkout Anchor -->
                {% else %}

                <img src="{% static 'checkout.png' %}"><!--CSS-- Checkout Icon -->
                <a id="checkoutPrice" onclick="alertUser('error','You must be logged in.')">CHECKOUT</a>
                {% endif %}
            </div>
            {% endif %}
        </section>
    </section>
{% endblock frame%}

{% block checkout %}
    <section id="ConfirmCheckOut">
        <section>
            <a id="close" href="javascript:closePopUp('ConfirmCheckOut')"><img src="{% static 'close.png' %}" alt="close"></a>
            <p>ORDER SUMMARY</p>
            <div id="cartDetails">
                <p>item's total (<span id="totalItem"></span>) <span id="summation">21000.NGN</span></p>
            </div>

            <p>SELECT PICK-UP STATION</p>
            <div id="station">
                <p>{{ user.username }}</p>
                {% for point in station %}
                    <p><input type="radio" name="address" onclick="checkoutAddress('{{ point }}')">{{ point }}</p>
                {% endfor %}
            </div>

            <p>PHONE | <span id="buyerPhoneNo">07063475466</span></p>

            <div id="checkoutNotice">
                <p>NOTICE</p>
                <p>This is just a portfolio demo website, so there will be no payment made </p>
            </div>
            <form id="CheckoutDetail" method="post">
                
                {{ orderForm.as_p }}
                {% csrf_token %}
            </form>

            <a onclick="confirmed()" id="confirm">CONFIRM DELIVERY DETAILS</a>

        </section>
    </section>
{% endblock checkout %}