{% extends 'beryl.html' %}
{% load static %}
{% block frame %}

{% if exist %}
    {% for history in orderHistory %}
        <section id="history">
            <div id="historyStatus">
                <p id="checkoutDate">{{ history.0.date }}</p>
                <p id="statusProgress">{{ history.0.get_status_display }}</p>
            </div>
            <div>
                {% for item in history.1 %}
                    <div id="cartItems">
                        <figure id="itemPics">
                            <img src="{{ item.picture.url }}">
                        </figure>
                        <figcaption id="itemClass">{{ item.product_class }}</figcaption>
                    </div>
                {% endfor %}
            </div>
            <div>
                <p id="historyPrice">Total {{ history.0.checkout_price }}.00NGN</p>
                <!--<a id="reCheckOut"><img src="{% static 'checkout.png' %}">CHECKOUT</a>-->
            </div>
        </section>
    {% endfor %}
{% else %}
    <section id="history">
        <div id="emptyCart" style="margin-bottom: 30px;">
            <figure>
                <img src="{% static 'no_history.png' %}">
            </figure>
            <p>You have no previous orders</p>
            <p>Browse our categories and purchased items which <br>will be added to your history!</p>
            <a href="/">START SHOPPING</a>
        </div>
    </section>
{% endif %}


{% endblock frame %}