@media(max-width:630px){
    div[id='topImage']>img{transform: translate(54.5%,0px);}

    div[id='NewtopImage']>img{transform: translate(-54%,0px);}
    
    div[id='navigation_2']>p{width: 45%;}

    a[id='secondLogo']{display: none;}

    section[id='body']{display: flex;/*Page Main Body*/
    margin: 7px auto;
    width: 96%;
    filter: drop-shadow(0px 0px 1px #96969665);
    align-items: flex-start;}

    div[id='sideBar']{border-radius: 5px;/*Page Side Bar*/
    overflow: hidden;
    display: none;
    position: absolute;
    flex-shrink: 0;
    background-color: #fff;
    filter: drop-shadow(0px 0px 1px #49484833);
    z-index: 10;}


    /*ROOT PAGE*/
    section[id='product']{background-color: #fff;/*Product Container*/
    margin: 0px 0px 15px 0px;
    border: 1px solid transparent;
    border-radius: 5px;
    height: 230px;
    overflow: hidden;}
    
    p[id='productClass']{background-color: #FEE2CC;/*Product Class Name*/
    margin: 0px;
    padding: 5px;
    font-family: MontserratRegular;
    font-size: 14px;
    text-transform: capitalize;}
    
    div[id='product']{display: flex;/*Item Container*/
    flex-flow: row nowrap;
    overflow-x: scroll;
    margin-top: 8px;}
    
    div[id='product']>a{min-width: 120px;/*Item detail anchor*/
    background-color: #fff;
    padding: 3px;
    margin: 15px 15px;
    border-radius: 3px;}
    
    div[id='product']>a:hover{filter: drop-shadow(0px 0px 1px #969696a4);}/*Item detail anchor*/
    
    div[id='product']>a>img{max-width: 100%;
    border-radius: 3px;}/*Item Image*/
    
    figcaption{font-family: MontserratRegular;/*Item Image caption*/
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #121212;}
    
    span[id='priceTag']{display: block;/*Item price*/
    font-family: MontserratMedium;
    color: #b16d07;}
    /*END ROOTPAGE*/

    section[id='shoppingCart']{background-color: #fff;/*Cart Container*/
    border-radius: 5px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    overflow: clip;}
    
    section[id='cartPart-1']{width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;}/*Cart Container 1*/
    
    section[id='cartPart-1']>div[id='cartItem']{display: flex;/*Cart Item Container*/
    flex-flow: row nowrap;
    margin:20px 0px;
    width: 100%;}
    
    section[id='cartPart-1']>div>div:first-of-type{display: flex;/*Cart Item Detail Container*/
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-start;
    border-right: 1px solid #96969665;
    margin: 4px;
    padding-right: 20px;}
    
    figure[id='itemImg']{width: 130px;/*Cart Item figure*/
    margin: 5px;}
    
    figure[id='itemImg']>img{max-width: 100%;
    border-radius: 3px;}/*Cart Item image*/
    
    section[id='cartPart-1']>div>div:first-of-type>p{margin: 2px 5px;/*Cart item price*/
    max-width: 250px;
    font-family: MontserratRegular;
    font-size: 12px;}
    
    p[id='itemPrice']{text-decoration: line-through;/*Cart item price*/
    color: #fca767;
    font-size: 9px;}
    
    section[id='cartPart-1']>div>div:last-of-type{display: flex;/*Cart Item Edit*/
    flex-flow: column nowrap;
    width: 230px;}
    
    p[id='itemDescription']{margin-left: 23px;/*Cart Item Description*/
    margin-bottom: -10px;
    font-family: MontserratMedium;
    font-size: 13px;}
    
    p[id='itemNotice']{display: flex;/*Cart Item Notice*/
    align-items: center;
    color: #1212129d;
    font-size: 13px;
    font-family: MontserratRegular;}
    p[id='itemNotice']>img{width: 25px;}
    
    div[id='quantityContainer']{display: flex;/*Cart Item Quantity Container*/
    flex-flow: row nowrap;
    background-color: #EFECF7;
    margin-top: 10px;
    justify-content: space-between;
    border-radius: 7px;
    border-top: 0.5px solid #12121228;
    border-bottom: 0.5px solid #12121228;
    overflow: hidden;
    margin-left: 5px;
    width: 80%;
    height: 30px;}
    
    p[id='quantityNumber']{display: flex;/*Cart Item Quantity*/
    align-items: center;
    justify-content: space-around;}
    
    div[id='quantityContainer']>a{background-color: #FE9900;/*Cart Item Quantity Increase*//*Cart Item Quantity Decrease*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    cursor: pointer;}
    
    div[id='quantityContainer']>a:hover{background-color: #df8c10;}
    
    div[id='quantityContainer']>a>img{width: 26px;/*Cart Item Quantity Regulator Icon*/
    height: 26px;}
    
    div[id='removeContainer']{background-color: #FE9900;/*Cart Item Remove Container*/
    margin: 15px 5px 0px 5px;
    display: flex;
    flex-flow: row nowrap;
    width: 80%;
    height: 22px;
    border-radius: 5px;
    overflow: hidden;}
    
    div[id='removeContainer']:hover{background-color: #df8c10;}
    
    div[id='removeContainer']>img{width: 22px;/*Cart Item Remove Icon*/
    background-color: #f7b24c;}
    
    div[id='removeContainer']>a{cursor: pointer;/*Cart Item Remove Anchor*/
    font-family: MontserratMedium;
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #121212;
    font-size: 14px;}
    
    div[id='removesaved']{display: flex;
    flex-flow: row nowrap;}
    
    div[id='removesaved']>a{height: 20px;
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    color: #121212;
    font-family: MontserratMedium;
    font-size: 11px;
    margin-right: 30px;
    background-color: #FE9900;
    padding: 1px 8px;
    border-radius: 2px;}
    
    div[id='removesaved']>a:hover{color: #fff;}
    
    div[id='removesaved']>a>img{width: 20px;}
    
    section[id='cartPart-2']{padding: 5px;/*Cart Container 2*/
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-around;
    margin: 0px 0px 20px 50px;
    width: 100%;}
    
    p[id='checkoutText']{font-family: MontserratRegular;/*Checkout statement*/
    font-size: 13px;
    color: #1212129d;
    text-align: center;}
    
    div[id='checkout']{background-color: #FE9900;/*Checkout Container*/
    min-width: 35%;
    height: 30px;
    display: flex;
    flex-flow: row nowrap;
    border-radius: 5px;
    overflow: hidden;}
    
    div[id='checkout']>img{width: 30px;/*Checkout Icon*/
    height: 30px;
    background-color: #b16d078f;
    padding: 2px;}
    
    div[id='checkout']>a{flex-grow: 1;/*Checkout Icon*/
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: MontserratMedium;
    font-size: 13px;
    color: #fff;
    letter-spacing: 0.5px;
    cursor: pointer;
    padding: 5px;}
    
    /*empty cart*/
    div[id='emptyCart']{display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
    align-self: center;}
    
    div[id='emptyCart']>figure{width: 80px;
    padding: 20px;
    border-radius: 100px;
    overflow: hidden;
    background-color: #EFECF7;}
    
    div[id='emptyCart']>figure>img{max-width: 100%;}
    
    div[id='emptyCart']>p{margin: 5px 0px;}
    div[id='emptyCart']>p:first-of-type{font-family: MontserratMedium;
    text-align: center;}
    div[id='emptyCart']>p:last-of-type{font-family: MontserratRegular;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    margin-bottom: 10px;}
    
    div[id='emptyCart']>a{background-color: #FE9900;
    font-family: MontserratMedium;
    color: #fff;
    padding: 3px 50px;
    border-radius: 3px;
    font-size: 14px;}
    
    div[id='emptyCart']>a:hover{background-color: #d8870d;}
    /*END CART PAGE*/
    
     /*ADDRESS*/
     section[id='address']{flex-flow: column nowrap;}

     section[id='addressPart-1']{margin-left: 20px;/*Adress Part 1*/
     padding-right: 10px;}
 
     div[id='addressDetail']>p{font-family: MontserratMedium;
     margin: 5px 0px;
     padding: 3px 8px;
     font-size: 14px;
     min-width: 280px;
     color: #121212b0;}
 
     section[id='addressPart-2']{width: 100%;
     display: flex;
     margin-bottom: 30px;
     flex-flow: column;
     justify-content: flex-start;
     align-items: flex-start;
     border-left: 1px solid #1212121e;}
     /*END ADDRESS*/

    /*SETTINGS*/
    section[id='settings_part2']{display: none;/*Account Setting Part2*/
    position: absolute;
    flex-flow: row nowrap;
    height: 400px;
    width: 70%;
    justify-content: space-around;
    margin-left: 10%;
    align-items: center;
    filter: drop-shadow(0px 0px 1.5px #969696);
    padding-top: 20px;}

    form[id='settingForm']{display: flex;/*Account Setting form*/
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #fff;
    padding-bottom: 20px;}
    /*END SETTINGS*/


    /*FOOTER*/
    footer>section:first-of-type{flex-flow: column nowrap;
    margin-top: 15px;}

    div[id='mailUs']{justify-content: space-around;
    flex-flow: column;
    width: 60%;
    background-color: #535257b4;
    padding: 0px 30px;
    margin-bottom: 20px;}

    div[id='mailUs']>form{align-items: center;
    width: 100%;}

    div[id='mailUs']>div{display: none;}

    div[id='mailUs']>form>input{width: 98%;}

    div[id='mailUs']>form>input{text-align: center;}

    div[id='developerInfo']>section>div>p{text-align: center;}

    div[id='developerInfo']>section>div>p>span{margin: 4px 0px;}

    div[id='footerThings']>div>p{font-size: 12px;}
    /*END FOOTER*/



    /*HISTORY*/
    section[id='history']>div:nth-of-type(2){justify-content: space-around;}
    /*END HISTORY*/









    /*STYLE THAT RESPOND TO SCRIPT ACTION*/
    div[id='detailContainer']{width: 320px;}

    #OdetailContainer{width: 320px;}
    }