@import url(beryl\ 1200.css);
@import url(beryl\ 992-1200.css);
@import url(beryl\ 768-992.css);
@import url(beryl\ 630-768.css);
@import url(beryl\ 600.css);

@font-face {
    font-family: 'MontserratRegular';
    src: url('fonts/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'MontserratMedium';
    src: url('fonts/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'MontserratBlack';
    src: url('fonts/Montserrat-Black.ttf') format('truetype')
}
@font-face {
    font-family: 'MontserratThin';
    src: url('fonts/Montserrat-Thin.ttf') format('truetype')
}

    body{margin: 0px;
    background-color: #EFECF7;
    display: flex;
    flex-flow: column;}

    a{text-decoration: none;}

    
    div[id='navigation']{display: flex;/*Top Navigation Container*/
    height: 40px;
    padding: 2px 10px;
    align-items: center;
    background-color: #fff;
    position: sticky;
    top: 0px;
    z-index: 58;
    filter: drop-shadow(0px 0px 1px #969696);}

    a[id='name']{font-family: MontserratMedium;/*Brand Name*/
    color: #121212;}
    a[id='name']>span{color: #FE9900;}/*Brand Name*/

    div[id='navigation']>nav{margin-left: auto;}/*Top Navigation Nav*/

    ul[id='topNav']{display: flex;/*Top Navigation Ul*/
    margin-left: auto;
    list-style-type: none;}

    ul[id='topNav']>li{margin: 0px 15px;/*Top Navigation Li*/
    font-family: MontserratMedium;
    font-size: 13px;
    letter-spacing: 0.5px;}

    ul[id='topNav']>li>a{color: #121212;}/*Top Nav Anchor*/
    ul[id='topNav']>li>a:hover{color: #6AC1D5;}/*Top Nav Anchor*/

    div[id='topImage'],div[id='NewtopImage']{width: 100%;/*Top Img Container*/
    min-height: 200px;
    display: flex;
    padding: 0px;
    margin-top: -3px;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;}

    div[id='topImage']>img{max-width: 96%;/*Display Img*/
    border-radius: 10px;
    margin: 0px 20px;
    transition-property: all;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transform-style: linear;}

    div[id='NewtopImage']>img{max-width: 96%;/*Display Img*/
    border-radius: 10px;
    margin: 0px 20px;
    transition-property: all;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transform-style: linear;}

    div[id='navigation_2']{display: flex;/*Second Top Navigation*/
    flex-flow: row nowrap;
    align-items: center;
    background-color: #fff;
    margin-top: -3px;
    height: 40px;
    filter: drop-shadow(0px 0px 2px #96969665);}

    div[id='navigation_2']>div{display: flex;/*Brand Logo & Menu Container*/
    flex-flow: row nowrap;
    align-items: center;}

    div[id='navigation_2']>div>a:first-of-type{width: 25px;/*Menu anchor*/
    height: 25px;
    margin-left:15px;}
    div[id='navigation_2']>div>a:last-of-type{width: 70px;/*Brand Logo image anchor*/
    height: 30px;
    margin-left: 15px;}
    div[id='navigation_2']>div>a>img{max-width: 100%;}/*Menu Image*/ /*Brand Logo image*/

    div[id='navigation_2']>p{background-color: #6ac1d5d5;/*Blue Design*/
    height: 100%;
    transform: skew(-35deg);
    margin-left: 35px;}

    div[id='navigation_2']>ul{display: flex;/*Second Navigation UL*/
    margin-left: auto;}

    div[id='navigation_2']>ul>li{margin: 0px 20px;/*Second Navigation LI*/
    list-style-type: none;
    display: flex;
    align-items: center;
    font-family: MontserratRegular;
    font-size: 13px;
    letter-spacing: 0.5px;}

    img[id='navIcon']{width: 20px;/*Second Navigation icon*/
    margin: 0px 3px;}

    div[id='navigation_2']>ul>li>a{color: #121212;/*Second Navigation anchor*/
    cursor:pointer;}
    div[id='navigation_2']>ul>li>a:hover{color: #6AC1D5;}/*Second Navigation anchor*/

    span[id='cartNumber']{color: red;/*cart item*/
    margin-left: 3px}

    ul[id='sideUl']{list-style-type: none;/*Side UL*/
    background-color: #fff;
    padding: 0px;
    width: 200px;
    display: flex;
    margin: 0px;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px 3px;}

    ul[id='sideUl']>li{padding: 0px;/*Side LI*/
    width: 100%;
    padding: 2px 8px;
    margin: 3px 6px;
    cursor: pointer;}

    ul[id='sideUl']>p{color: #FE9900;
    width: 100%;
    font-family: MontserratMedium;
    font-size: 11px;
    letter-spacing: 0.5px;
    align-self: flex-start;
    padding: 2px 8px;
    border-top: 1px solid #12121211;}

    img[id='sideIcon']{width: 25px;/*side icon*/
    margin: 0px 4px;}

    .sideLi{font-family: MontserratRegular;/*Side Li*/
    font-size: 13px;
    color: #121212;
    display: flex;
    align-items: center;}

    div[id='frame']{width: 50%;/*Page Main Frame*/
    margin-left: 8px;
    flex-grow: 1;}


    /*PRODUCT STORE*/
    section[id='productStore']{background-color: #fff;/*Product Container*/
    margin: 0px 0px 15px 0px;
    border: 1px solid transparent;
    border-radius: 5px;
    overflow: hidden;}

    div[id='productStore']{display: flex;/*Item Container*/
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 8px;}
    /*END PRODUCT STORE*/

    /*HISTORY*/
    section[id='history']{display: flex;/*History*/
    flex-flow: column nowrap;
    overflow: hidden;
    background-color: #fff;
    border-radius: 5px;
    margin: 15px 0px;
    min-height: 200px;
    justify-content: flex-start;}
    
    div[id='historyStatus']{display: flex;/*History detail*/
    flex-flow: row nowrap;
    background-color: #FEE2CC;
    padding: 3px;}
    
    p[id='checkoutDate']{font-family: MontserratRegular;/*History date*/
    font-size: 13px;
    margin: 0px 2px;}
    
    p[id='statusSuccess'],p[id='statusFail'],p[id='statusProgress']{margin: 0px 10px;/*History Status*/
    font-family: MontserratRegular;
    font-size: 13px;
    text-transform: capitalize;
    letter-spacing: 1px;}
    
    p[id='statusSuccess']{color: green;}/*History Status*/

    p[id='statusProgress']{color: red;}/*History Status*/
    
    p[id='statusFail']{color: red}/*History Status*/
    
    section[id='history']>div:nth-of-type(2){display: flex;/*Hitory Selected Item Container*/
    flex-flow: row wrap;}
    
    div[id='cartItems']{display: flex;/*History Selected Item*/
    flex-flow: column nowrap;
    align-items: center;
    margin: 5px 3px;
    overflow: hidden;
    width: 160px;}
    
    figure[id='itemPics']{width: 120px;}/*History Selected Item Figure*/
    
    figure[id='itemPics']>img{max-width: 100%;}/*History Selected Item Image*/
    
    figcaption[id='itemClass']{width: 98%;/*History Selected Item Caption*/
    text-align: center;
    padding: 0px 3px;}
    
    section[id='history']>div:last-of-type{display: flex;/*History Total Detail*/
    align-items: center;
    margin: 3px 0px;}
    
    p[id='historyPrice']{margin: 3px 25px;/*History Total Price*/
    font-family: MontserratMedium;
    font-size: 13px;
    color: #b16d07;}
    
    a[id='reCheckOut']{background-color: #FE9900;/*History recheckout anchor*/
    color: #121212;
    padding: 0px 5px;
    cursor: pointer;
    font-family: MontserratMedium;
    font-size: 12px;
    letter-spacing: 0.5px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;}
    
    a[id='reCheckOut']>img{width: 20px;}/*History recheckout icon*/
    /* END HISTORY*/
    
    
    
    
    /*ADDRESS*/
    section[id='address']{background-color: #fff;/*User Adress*/
    border-radius: 5px;
    display: flex;
    align-items: flex-start;}
    
    section[id='addressPart-1']>div{display: flex;/*Address Container*/
    flex-flow: row nowrap;
    align-items: center;
    border-bottom: 1px solid #12121215;
    margin: 20px 0px;}
    
    section[id='addressPart-1']>div[id='emptyCart']{display: flex;
    flex-flow: column nowrap;}
    
    div[id='addressDetail']{display: flex;/*Address Detail*/
    flex-flow: column nowrap;}
    
    div[id='addressDetail']>p>span{font-family: MontserratRegular;
    display: block;
    color: #121212;
    text-transform: capitalize;}
    
    div[id='addressEffect']{display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;}
    
    div[id='addressEffect']>a{color: #b16d07;
    font-family: MontserratMedium;
    font-size: 13px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 3px 10px;
    cursor: pointer;}
    
    div[id='addressEffect']>a:hover{color: #FE9900;}
    
    div[id='addressEffect']>a>img{width: 20px;
    margin: 2px;}

    a[id='addAddress']{padding: 0px 0px;
    margin: 30px;
    background-color: #FE9900;
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: space-between;
    font-family: MontserratMedium;
    font-size: 13px;
    padding-right: 7px;
    cursor: pointer;}
    
    a[id='addAddress']>img{width: 25px;
    background-color: #12121215;
    padding: 3px;
    margin-right: 7px;}
    /*END ADDRESS*/
    
    
    
    /*SETTINGS*/
    section[id='settings']{background-color: #fff;/*Account Setting*/
    border-radius: 5px;
    padding: 8px 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;}
    
    section[id='settings_part1']{display: flex;/*Account Setting Part1*/
    flex-flow: column nowrap;
    align-items: flex-start;
    margin-bottom: 20px;}
    
    p[id='userdetails']{font-family: MontserratMedium;/*Setting detail*/
    font-size: 14px;
    width: 100%;
    border: 1px solid #12121228;
    padding: 3px 0px 3px 10px;}
    
    p[id='userdetails']>span{font-family: MontserratRegular;/*Detail value*/
    font-size: 13px;}
    
    a[id='settingEdit']{color: #b16d07;/*Each Account edit*/
    font-family: MontserratMedium;
    font-size: 13px;
    cursor: pointer;
    display: flex;
    margin: 3px 0px;}
    
    a[id='settingEdit']:hover{color: #FE9900;}/*Each Account edit*/
    
    a[id='settingEdit']>img{width: 15px;/*Each Account edit icon*/
    height: 15px;}
    
    div[id='settingOption']{color: #121212;/*Overall Setting Container*/
    display: flex;}
    
    div[id='settingOption']>a{background-color: #fdb74fc7;/*Overall Setting edit*/
    border-radius: 4px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: MontserratMedium;
    font-size: 13px;
    padding: 2px;
    filter: drop-shadow(0px 0px 3px #96969693);
    cursor: pointer;}
    
    div[id='settingOption']>a>img{width: 20px;/*Overall setting edit icon*/
    height: 20px;}
    
    a[id='close']{margin-left: auto;
    width: 28px;
    margin-bottom: -10px;}

    a[id='close']>img{max-width: 100%;}

    form[id='settingForm']>p{width: 80%;/*Account Setting para*/
    display: none;
    flex-flow: column;
    justify-content: space-around;}
    
    form[id='settingForm']>p>label{font-family: MontserratMedium;/*Account Setting label*/
    font-size: 12px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0px;}
    
    form[id='settingForm']>p>input,form[id='settingForm']>p>select{width: 100%;
    text-align: center;
    padding: 2px 0px;
    border-radius: 3px;
    border:1px solid #12121242;
    font-family: MontserratRegular;
    font-size: 13px;}
    
    form[id='settingForm']>input{width: 90%;/*Account setting submit*/
    background: #FE9900;
    border-color: transparent;
    border-radius: 3px;
    display: none;
    justify-content: space-around;
    font-family: MontserratMedium;
    cursor: pointer;}
    /*END SETTINGS*/
    
    
    /*FOOTER*/
    footer{background-color: #313133;
    width: 96%;
    border-radius: 4px;
    margin: 0px auto;}
    
    footer>section:first-of-type{
    display: flex;
    justify-content: space-around;
    align-items: center;}
    
    div[id='mailUs']{display: flex;
    align-items: center;}
    
    div[id='mailUs']>div{margin-right: 30px;}
    
    div[id='mailUs']>form{display: flex;
    flex-flow: column nowrap;}
    
    div[id='mailUs']>form>input{height: 25px;
    border-radius: 2px;
    border:1px solid transparent;
    margin-bottom: 7px;}
    
    p[id='comment']{font-family: MontserratMedium;
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
    letter-spacing: 1px;}
    
    p[id='submitComment']{display: flex;
    flex-flow: row nowrap;
    margin-top: 5px;}
    
    p[id='submitComment']>input:first-of-type{background-color: #FE9900;
    border-color: transparent;}
    
    p[id='submitComment']>input:first-of-type:hover{background-color: #d48206;}
    
    p[id='submitComment']>input:last-of-type:hover{color: #FE9900;}
    
    p[id='submitComment']>input{margin-right: 20px;
    background-color: transparent;
    border-radius: 2px;
    border: 1px solid #fff;
    color: #fff;
    font-family: MontserratRegular;
    padding: 10px 13px;
    cursor: pointer;}
    
    div[id='developerInfo']{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-right: 20px;}
    
    div[id='developerInfo']>section{display: flex;
    flex-flow: row nowrap ;
    padding: 12px;
    align-items: center;}
    
    div[id='developerInfo']>section>a>img{width: 150px;
    border-radius: 100px;
    margin-right: 20px;}
    
    div[id='developerInfo']>section>div{display: flex;
    flex-flow: column nowrap;}
    
    div[id='developerInfo']>section>div>p{color: #fff;
    margin:3px 2px;
    font-family: MontserratRegular;
    display: flex;
    flex-flow: column;
    font-size: 13px;
    letter-spacing: 0.5px;}
    
    div[id='developerInfo']>section>div>p>span{color: #ee950f;
    font-family: MontserratMedium;
    font-size: 12px;
    text-transform: uppercase;}
    
    div[id='contacts']{margin-top: 6px;
    display: flex;
    justify-content: space-around;}
    div[id='contacts']>a>img{width:25px;}
    div[id='contacts']>a>img{max-width: 100%;}
    
    footer>section:last-of-type{background-color: #535257;
    display: flex;
    flex-flow: column nowrap;}
    
    div[id='footerThings']{display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 30px 20px 0px 20px;}
    
    div[id='footerThings']>div{color: #fff;
    font-family: MontserratRegular;
    letter-spacing: 0.5px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    margin: 0px 4px 30px 4px;}

    div[id='footerThings']>div>p{cursor: pointer;
    margin: 7px 0px;}

    div[id='right']{color: #fff;
    font-family: MontserratRegular;
    letter-spacing: 0.5px;
    font-size: 13px;
    display: flex;
    justify-content: space-around;}
    
    div[id='right']>p{width: 60%;
    border-top: 1px solid #fff;
    text-align: center;
    padding: 5px 0px;}
    /*END FOOTER*/
    
    section[id='ConfirmCheckOut']{position: fixed;
    z-index: 120;
    background-color: #1212124d;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: space-around;
    align-items: center;}
    
    section[id='ConfirmCheckOut']>section{display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    border-radius: 4px;
    background-color: #EFECF7;
    width: 70%;
    min-height: 500px;
    }

    section[id='ConfirmCheckOut']>section>p{
    padding: 8px 20px;
    font-family: MontserratMedium;
    font-size: 13px;
    letter-spacing: 0.5px;
    color:#5352579f;
    margin-bottom: 2px;
    align-self: flex-start;
    }

    div[id='cartDetails']{width: 96%;
    background-color: #fff;
    display: flex;
    border-radius: 4px;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    }

    div[id='cartDetails']>p{width: 96%;
    margin: 7px 0px;
    font-family: MontserratRegular;
    font-size: 13px;
    display: flex;
    }

    span[id='summation']{margin-left: auto;
    }

    span[id='buyerPhoneNo']{color: #FE9900;
    font-family: MontserratRegular;}

    div[id='station']{width: 96%;
    background-color: #fff;
    display: flex;
    flex-flow: column;
    align-items: center;
    border-radius: 4px;
    padding: 5px 0px;
    }

    div[id='station']>p{width: 96%;
    font-family: MontserratRegular;
    text-transform: capitalize;
    font-size: 13px;
    margin-bottom: 4px;
    margin-top: 4px;
    }

    div[id='station']>p:first-of-type{color: #FE9900;}

    form[id='CheckoutDetail']{display: none;}

    a[id='confirm']{font-family: MontserratMedium;
    background-color: #FE9900;
    font-size: 14px;
    width: 90%;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 0px;
    margin: 30px 0px;
    }

    div[id='checkoutNotice']{display: flex;
    flex-flow: column;
    width: 96%;
    }

    div[id='checkoutNotice']>p{font-family: MontserratRegular;
    font-size: 13px;
    text-align: center;
    margin: 5px 0px;}

    div[id='checkoutNotice']>p:first-of-type{color: #bd2828;}

    a[id='confirm']:hover{background-color: #d48206;}

    
    
    
    
    
    
    
    
    /*STYLE THAT RESPOND TO SCRIPT ACTION*/
    div[id='popContainer']{position: absolute;/*POPOPTION CONTAINER*/
    background-color: #fff;
    width: 100px;
    display: flex;
    flex-flow: column;
    align-items: center;
    border-radius: 3px;
    border: 1px solid #1212123f;
    filter: drop-shadow(0px 0px 0px #96969665);
    padding: 2px;
    z-index: 55;}
    
    a[id='popOption']{color: #121212;/*POPOPTION ANCHOR*/
    font-family: MontserratRegular;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    padding: 3px 0px;
    border-bottom: 1px solid #96969636;
    font-size: 12px;}
    
    a[id='popOption']:hover{color: #6AC1D5;}/*POPOPTION ANCHOR*/
    
    div[id='detailContainer']{background-color: #fff;
    filter: drop-shadow(0px 0px 5px #969696a1);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: fixed;
    overflow: hidden;
    transition-property: all;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transform-style: linear;
    z-index: 100;}
    
    #OdetailContainer{background-color: #fff;
    filter: drop-shadow(0px 0px 5px #969696a1);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: fixed;
    overflow: hidden;
    transition-property: all;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transform-style: linear;
    z-index: 100;}
    
    div[id='loading']{background-color: #12121215;
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;}
    
    img[id='closeView']{align-self: flex-end;
    width: 25px;
    margin: 3px 18px;
    cursor: pointer;}
    
    p[id='productclass']{font-family: MontserratRegular;
    font-size: 13px;
    letter-spacing: 0.5px;
    background-color: #FEE2CC;
    width: 98%;
    padding: 4px;
    margin: 0px;}
    
    figure[id='productFigure']{width: 60%;
    border: 1px solid #9696963a;
    border-width: 1px 0px 1px 0px;
    display: flex;
    justify-content: space-around;}
    
    img[id='productImage']{max-width: 80%;}
    
    div[id='productDetail']{display: flex;
    flex-flow: column nowrap;
    width: 80%;
    margin-top: 10px;}
    
    div[id='productDetail']>p{font-family: MontserratRegular;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #9696965e;
    padding: 2px;}
    
    div[id='productDetail']>p>span{width: 40%;
    max-width: 40%;}
    
    span[id='price']{text-decoration: line-through;}
    
    a[id='addToCart']{background-color: #FE9900;
    width: 80%;
    height: 30px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    overflow: hidden;
    cursor:pointer;}
    
    a[id='addToCart']:hover{background-color: #ee950f;}
    
    div[id='addImgBox']{display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    background-color: #b16d07;}
    
    div[id='addImgBox']>img{max-width: 80%;
    max-height: 90%;}
    
    p[id='addStatement']{flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: MontserratMedium;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;}
    
    a[id='quantityContainerItem']{
    width: 28%;
    height: 30px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 3px;
    overflow: hidden;
    cursor:pointer;
    color: #121212;}
    
    a[id='saved']{width: 80%;
    height: 30px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    overflow: hidden;
    cursor:pointer;
    color: #121212af;}
    
    a[id='saveItem']{height: 30px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 3px;
    overflow: hidden;
    cursor:pointer;
    color: #121212;}
    
    a[id='saveItem']:hover{color: #121212c0;}
    
    div[id='saveImgBox']{display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20px;
    height: 20px;}
    
    div[id='saveImgBox']>img{max-width: 80%;
    max-height: 90%;}
    
    p[id='saveStatement']{height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: MontserratMedium;
    font-size: 11px;
    letter-spacing: 1px;}
    
    div[id='notice']{display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    border: 1px solid #9696965e;
    border-radius: 3px;
    width: 90%;
    font-family: MontserratMedium;
    font-size: 12px;}
    
    div[id='notice']>img{width: 30px;
    height: 30px;}
    
    div[id='notice']>p{height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 8px;
    border-left: 1px solid #9696965e;
    letter-spacing: 0.5px;
    flex-grow: 1;}
    
    /*Alert*/
    div[id='dialogboxsuccess'],div[id='dialogboxerror']{margin: 0px; /*Dialog box*/
    position: fixed;
    display: flex;
    justify-content: center;
    padding: 5px 0px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-family: MontserratRegular;
    font-size: 13px;
    letter-spacing: 0.5px;
    z-index: 125;}
    
    div[id='dialogboxsuccess']{background-color: #6dbd28;}
    
    div[id='dialogboxerror']{background-color: #bd2828;}
    
    div[id='dialogboxsuccess']>p,div[id='dialogboxerror']>p{margin: 0px;}
    
    /*ADD ADDRESS*/
    form[id='addAdressForm'],form[id='mainAddAdressForm']{display: flex;
    flex-flow: column;
    margin: 40px 0px 0px 30px;
    width: 300px;
    padding: 5px;}
    
    form[id='mainAddAdressForm']{margin-top: -10px;}
    
    a[id='addNewAddress']{background-color: #FE9900;
    border-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    font-family: MontserratRegular;
    font-size: 14px;
    padding: 2px 0px;
    justify-content: space-around;}
    
    a[id='addNewAddress']:hover{background-color: #d88b17;}
    
    form[id='addAdressForm']>input[name]{margin: 8px 0px;
    padding: 3px;
    border: 1px solid #12121248;
    background-color: #EFECF7;
    border-radius: 3px;
    text-transform: capitalize;
    font-size: 12px;
    font-family: MontserratRegular;
    font-style: italic;}
    
    /*Preloader*/
    div[id="preloaderContainer"]{position: fixed;
    background-color: #ffffff;
    z-index: 70;
    display: flex;
    justify-content: space-around;
    align-items: center;}
    
    div[id="preloaderInnerContainer"]{display: flex;
    justify-content: space-around;
    flex-flow: column;
    align-items: center;}
    
    img[id='preloader']{margin-bottom: -40px;}
    
    p[id='preloaderStatement']{font-family: MontserratRegular;
    font-style: italic;
    font-size: 13px;}