@media(min-width:1200px) and (max-width:1400px){

    div[id='topImage']>img{transform: translate(51.5%,0px);}

    div[id='NewtopImage']>img{transform: translate(-51.5%,0px);}

}

@media(min-width:1100px) and (max-width:1200px){

    div[id='topImage']>img{transform: translate(51.5%,0px);}

    div[id='NewtopImage']>img{transform: translate(-51.5%,0px);}

}

@media(min-width:1000px) and (max-width:1100px){

    div[id='topImage']>img{transform: translate(52%,0px);}

    div[id='NewtopImage']>img{transform: translate(-52%,0px);}
    
}

@media(min-width:900px) and (max-width:1000px){

    div[id='topImage']>img{transform: translate(52.5%,0px);}

    div[id='NewtopImage']>img{transform: translate(-52.5%,0px);}

}

@media(min-width:800px) and (max-width:900px){

    div[id='topImage']>img{transform: translate(52.7%,0px);}

    div[id='NewtopImage']>img{transform: translate(-52.7%,0px);}

}

@media(min-width:700px) and (max-width:800px){

    div[id='topImage']>img{transform: translate(53%,0px);}

    div[id='NewtopImage']>img{transform: translate(-53%,0px);}
    
}

@media(min-width:600px) and (max-width:700px){

    div[id='topImage']>img{transform: translate(53.5%,0px);}

    div[id='NewtopImage']>img{transform: translate(-53.5%,0px);}
    
}

@media(min-width:500px) and (max-width:600px){

    div[id='topImage']>img{transform: translate(53.8%,0px);}

    div[id='NewtopImage']>img{transform: translate(-54%,0px);}
    
}

@media(min-width:400px) and (max-width:500px){

    div[id='topImage']>img{transform: translate(54.5%,0px);}

    div[id='NewtopImage']>img{transform: translate(-54.5%,0px);}
    
}

@media(min-width:350px) and (max-width:400px){

    div[id='topImage']>img{transform: translate(56%,0px);}

    div[id='NewtopImage']>img{transform: translate(-56%,0px);}
    
}

@media(min-width:300px) and (max-width:350px){

    div[id='topImage']>img{transform: translate(56.2%,0px);}

    div[id='NewtopImage']>img{transform: translate(-56.2%,0px);}
    
}
