{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Beryl Account Login Success</title>
        <link href="{% static 'CSS/registration.css' %}" rel="stylesheet">
    </head>
    <body>
        <main>
            <div id="logo">
                <img src="{% static 'logo_head.png' %}">
            </div>
            <p id="firstStatement">Personal details</h1>
            <p id="secondStatement">We just need you to fill in some details.</p>

            <form method="POST" id="settingForm"><!--CSS-- Account Setting form-->
                {{ form.as_p }}
                {% csrf_token %}
                <input type="submit" value="SAVE" id="settingSave"><!--CSS-- Account Setting submit-->
            </form>
        </main>
    </body>
</html>