{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Ayomide Olusola">
        <meta name="description" content="An Ecommerce Project designed by Olusola Ayomide Victor -- A FullStack Web Developer. This e-commerce site is written in Html&css, Javascript, and Django. This website is mainly created to backup his application CV and to impress the Hiring Managers.">
        <meta name="keyword" content="FullStack Web Developer,Web Development Project,html,css,javascript, Web Developer, Ecommerce Site, e-commerce website, web developer, web development, django Ecommerce, django, python, portfolio, Ecommerce portfolio, e-commerce portfolio">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="Content-Type" content="text/html">
        <meta name="theme-color" content="#FE9900">
        <meta name="robot" content="nofollow">
        <meta http-equiv="author" content="Victor A.O">
        <title>Beryl Account Login Success</title>
        <link href="{% static 'CSS/registration.css' %}" rel="stylesheet">
    </head>
    <body>
        <main>
            <div id="logo">
                <img src="{% static 'logo_head.png' %}">
            </div>
            <p id="firstStatement">Personal details</h1>
            <p id="secondStatement">We just need you to fill in some details.</p>

            <form method="POST" id="settingForm"><!--CSS-- Account Setting form-->
                {{ form.as_p }}
                {% csrf_token %}
                <input type="submit" value="SAVE" id="settingSave"><!--CSS-- Account Setting submit-->
            </form>
        </main>
    </body>
</html>